.navbar {
  background-color: rgba(1, 1, 1, 0.5);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.navbar__title {
  color: white;
  opacity: 0.6;
  padding: 10px 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar .fa-trello {
  color: white;
  font-size: 1.2rem;
  margin-right: 5px;
}
