.todo__form {
  width: 100%;
}

.todo__form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #172b4d;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

.form__btns {
  display: flex;
  align-items: center;
}

.form__add-btn {
  background-color: #0079bf;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 13px;
  margin-right: 10px;
}

.form__cancel-btn {
  border: none;
  font-size: 1.6rem;
}

.form__cancel-btn .fa-times {
  color: rgba(0, 0, 0, 0.3);
}
